# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Diretório das configurações de banco de dados
.env

# Diretório de testes de cobertura
coverage/

# Sistemas operacionais
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/

# Mac OS X
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
*~

# Archives
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2

# Vários arquivos temporários
*.swp
*.bak
*.tmp
*.orig
*.cache
